/* Universal */
*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-padding-top: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

/* Navbar */
header.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    width: 100%;
    padding: 0.5rem 2.5rem;
    margin-inline: auto;

    /* border-bottom: 2px solid #425c77; */
    
    background-color: white;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.15);
    z-index: 100;

    /* background-color: gray;  */
}

header.navbar-container div.logo img {
    display: flex;

    width: 150px;
    justify-content: center;

    /* background-color: aqua;  */
}

header.navbar-container nav {
    
}

header.navbar-container .nav-list ul {
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list ul li {
    list-style-type: none;
}

header.navbar-container .nav-list ul li a {
    text-decoration: none;
    
    color: black;
    font-size: 1rem;
    font-weight: 400;

    padding: 0.5rem 1rem;

    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list ul li a:hover {
    border-radius: 999px;
    background-color: #131c2e;
    color: white;
}

header.navbar-container button {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 1.1rem;

    padding: 0.8rem 1.5rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.822);

    border: none;
    border-radius: 3px;

    cursor: pointer;
    transition: all 0.1s ease-in;
}

header.navbar-container button:hover {
    background-color: rgb(255, 0, 0);
    font-weight: 600;
    border-radius: 8px;
}

/* Main */
main {
    display: flex;    
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 0rem 4rem;

    /* background-color: #425c77;  */
    z-index: 0;
}

.highlight {
    color: red;
}

/* Content */
main .content {
    width: 100%;
}

/* Content Description */
main .content .content-description {
    position: static;
    text-align: center;
    padding: 1rem 2rem;
    
    color: #425c77;
    z-index: 1;
}

main .content .content-description p:nth-child(3) {
    font-size: 1.3rem;
    font-weight: 600;

    color: #131c2e;
}

/* Content Image */
main .content .content-image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main .content .content-image::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    z-index: 0;
}

main .content .content-image .overlay-title {
    padding: 0 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

main .content .content-image .overlay-title h1 {
    max-width: 900px;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}

main .content .content-image img {
    width: 100%;
    max-width: 900px;
    height: 600px;

    object-fit: cover;
    object-position: center -50px;
    display: block;

    /* background-color: aquamarine; */
}

/* Floating Box */
.floating-box {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background: linear-gradient(to top, transparent, rgba(255, 0, 0, 0.936));
    animation: float 3s ease-in-out infinite;
}

.box-1 {top: 13%; left: 25%; animation-delay: 0s;}
.box-2 {top: 8%; left: 55%; animation-delay: 0.5s;}
.box-3 {top: 40%; left: 18%; animation-delay: 1s; z-index: -1;}
.box-4 {top: 20%; right: 25%; animation-delay: 1.5s; z-index: -1;}
.box-5 {top: 50%; right: 15%; animation-delay: 0.5s; z-index: -1;}
.box-6 {top: 25%; left: 46%; animation-delay: 0s; z-index: -1;}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
}

/* Timeline */
main .timeline {
    display: flex;
    justify-content: center;
    max-width: 1200px;

    position: relative;
    margin-block: 2rem;

    z-index: 0;

    /* background-color: #425c77; */
}
.box-7 {top: 0%; left: 30%; animation-delay: 0s;}
.box-8 {top: 25%; left: 50%; animation-delay: 0.5s;}
.box-9 {top: 50%; left: 18%; animation-delay: 1s;}
.box-10 {top: 22%; right: 7%; animation-delay: 1.5s;}
.box-11 {top: 80%; left: 8%; animation-delay: 1s;}
/* .box-12 {top: 60%; left: 25%; animation-delay: 1s;} */


main .timeline::after {
    content: '';
    position: absolute;
    background-color: red;
    width: 4px;
    left: 64%;
    top: 0;
    bottom: 0;
    margin-left: -5px;
}

/* timeline-description */
main .timeline .timeline-description {
    flex: 2;
    padding: 1rem;

    /* background-color: rgba(0, 255, 255, 0.534); */
}

main .timeline .timeline-description h2 {
    font-weight: 500;
    font-size: 1.9rem;

    color: #131c2e;
    /* background-color: rgba(127, 255, 212, 0.181); */
}

main .timeline .timeline-description p {
    font-size: 1.2rem;
    width: 75%;

    color: #425c77;
    /* background-color: rgba(255, 228, 196, 0.295); */
}

/* timeline-content */
main .timeline .timeline-content {
    flex: 1;
    padding: 1rem;

    /* background-color: rgba(137, 43, 226, 0.287); */
}

main .timeline .timeline-content .timeline-container {
    position: relative;    
    margin-bottom: 5rem;

    /* background-color: rgb(255, 217, 80); */
}

main .timeline .timeline-content .timeline-container::after {
    content: '';
    position: absolute;
    
    width: 28px;
    height: 28px;
    left: -55px;
    top: 5px;
    border: 3px solid white;
    
    border-radius: 50%;
    z-index: 1;

    background-color: red;
}

main .timeline .timeline-content .timeline-container .timeline-list {    
    position: relative;

    /* background-color: rgb(222, 184, 135); */
}

main .timeline .timeline-content .timeline-container .timeline-list h2 {
    font-weight: 400;
    font-size: 1.7rem;
    color: red;
    margin-bottom: 0;

    /* background-color: rgba(205, 155, 90, 0.52); */
}

main .timeline .timeline-content .timeline-container .timeline-list p {
    font-weight: 400;
    font-size: 1.2rem;

    color: #425c77;

    /* background-color: rgba(210, 105, 30, 0.274); */
}

/* Game */
main .game {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 0;
    /* background-color: #425c77; */
}

main .game .game-description {
    text-align: center;

    /* background-color: antiquewhite; */
}

main .game .game-description h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;

    color: #131c2e;

    /* background-color: aliceblue; */
}

main .game .game-description p {
    font-size: 1.2rem;
    margin-block: 0.5rem 0;

    /* background-color: aliceblue; */
    color: #425c77;
}

main .game .game-content {
    display: flex;
    justify-content: center;
    max-width: 1200px;

    position: relative;
    margin-block: 1rem;

    /* background-color: #425c77; */
}

main .game .game-content p {
    display: flex;
    width: 100%;
}

main .game .game-content p .fr-draggable {
    height: 600px;
    width: 1000px;
}

/* Profile */
main .profile {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 3;
    position: relative;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 1rem;

    /* background-color: red; */
    /* z-index: 0; */

}

main .profile aside .profile-img {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 5px;

    background-color: white;
}

main .profile aside .profile-img img {
    /* width: 100%; */
    width: 400px;
    max-width: 100%;
    border-radius: 999px;
    /* border: 5px solid #425c77; */

    background-color: red;
}

main .profile .profile-description {
    flex: 2;
    margin-left: 4rem;
    max-width: 700px;
}

main .profile .profile-description h2 {
    font-size: 3rem;
    margin-block: 10px 5px;

    color: #131c2e;
}

main .profile .profile-description h3 {
    margin-block: 0 25px;

    color: #131c2e;
}

main .profile .profile-description p {
    font-size: 1rem;
    margin-block: 20px 40px;

    color: #425c77;
}

main .profile .profile-description button {
    padding: 0.6rem 2.2rem;
    border: 3px solid transparent;
    margin-block-start: 0;

    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 999px;
    
    color: white;
    background-color: red;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

main .profile .profile-description button:hover {
    font-weight: 600;
    border: 3px solid #425c77;
    color: black;
    background-color: white;
}

.box-13 {bottom: 10%; left: 4%; animation-delay: 0s;}
.box-14 {top: 5%; left: 55%; animation-delay: 0.5s;}
.box-15 {top: 17%; left: 25%; animation-delay: 1s;}
.box-16 {bottom: 20%; right: 10%; animation-delay: 1s;}

/* Footer */
footer {
    padding: 30px;
    text-align: center;
    color: white;

    background-color: #131c2e;
}

footer p:nth-child(1) {
    font-weight: bold;
    margin-block-end: 0;
}

footer p:nth-child(2) {
    margin-block-start: 0;
}
footer p:nth-child(2) span {
    font-weight: bold;
}

/* Media-Social */
main .social-media {
    display: flex;
    
    position: fixed;
    inset-block: 0;
    right: 0;
    height: 100%;
    
    transform: translateX(100%);
    transition: 0.3s ease;
    /* background-color: #425c77; */
}

main .social-media.active {
    transform: translateX(0);
}

main .social-media ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    padding: 1.5rem 1.5rem 1rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;

    background-color: #425c77;
}

main .social-media ul li {
    list-style-type: none;
}

main .social-media li a  {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    transition: all 0.1s ease-in-out;
}

/* Responsive Design */
/* Tablet: 1024px */
@media (max-width: 1024px) {
    main {
        padding: 0 2rem;
    }

    main .content .content-image img {
        height: 450px;
    }

    main .content .content-image .overlay-title h1 {
        font-size: 2.2rem;
    }


    main .timeline::after {
        left: 58%;
    }

    main .timeline .timeline-description h2 {
    font-size: 1.9rem;
    }

    main .timeline .timeline-description {
        flex: 1.95;
    }

    main .timeline .timeline-description p {
        font-size: 1.1rem;
    }

    main .timeline .timeline-description h2 {
        font-size: 1.8rem;
    }

    main .timeline .timeline-content .timeline-container::after {
        left: -95px;
    }

    main .timeline .timeline-content .timeline-container .timeline-list h2 {
    font-size: 1.5rem;
    }

    main .timeline .timeline-content .timeline-container .timeline-list p {
    font-size: 1rem;
    }

    main .game .game-description h2 {
        font-size: 1.8rem;
    }

    main .game .game-description p {
        font-size: 1.1rem;
    }

    main .game .game-content p .fr-draggable {
        width: 100%;
    }
    

    main .profile aside .profile-img img {
        width: 300px;
    }

    main .profile .profile-description {
        margin-left: 2rem;
    }

    main .profile .profile-description h2 {
        font-size: 2.5rem;
    }

    main .profile .profile-description h3 {
        font-size: 1.1rem;
    }    
}

/* Mobile (768px) */
@media (max-width: 758px) {
    header.navbar-container {
        padding: 0.5rem 1rem;
        flex-wrap: wrap;
        gap: 0.4rem;
        justify-content: space-between;
    }

    header.navbar-container button.my-contact{
        display: none;
    }

    header.navbar-container div.logo img {
        width: 140px;
    }

    header.navbar-container .nav-list ul {
        gap: 0rem 0.1rem;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        margin-block: 0.2rem;
    }

    header.navbar-container .nav-list ul li a {
        font-size: 0.78rem;
        padding: 0.3rem 0.5rem;
    }

    
    main {
        padding: 0 1rem;
    }

    main .content .content-image img  {
        /* width: 80%; */
        height: 260px;
        object-position: center top;
    }

    main .content .content-image .overlay-title h1 {
        font-size: 1.7rem;
    }

    main .content .content-description {
        padding: 0.5rem;
    }

    main .content .content-description p {
        font-size: 0.9rem;
    }

    main .content .content-description p:nth-child(3){
        font-size: 1rem;
    }


    .box-1, .box-4, .box-6,
    .box-8, .box-9, .box-11,
    .box-7, .box-10, 
    .box-14, .box-16  {
        display: none;
    }


    main .timeline {
        flex-direction: column;
        margin-block: 1rem;
    }

    main .timeline::after {
        display: none;
    }
    
    main .timeline .timeline-description {
        padding: 0.5rem;
    }
    
    main .timeline .timeline-description h2 {
        font-size: 1.5rem;
    }

    main .timeline .timeline-description p {
        font-size: 1rem;
        width: 100%;
    }

    main .timeline .timeline-content {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        border-left: 4px solid red;
        margin-left: 1rem;
    }

    main .timeline .timeline-content .timeline-container {
        margin-bottom: 2rem;
    }
    
    main .timeline .timeline-content .timeline-container::after {
        left: -2.7rem;
        width: 20px;
        height: 20px;
        top: 4px;
    }

    main .timeline .timeline-content .timeline-container .timeline-list h2 {
        font-size: 1.2rem;
    }

    main .timeline .timeline-content .timeline-container .timeline-list p {
        font-size: 1rem;
    }


    main .game .game-description h2 {
        font-size: 1.5rem;
    }

    main .game .game-description p {
        font-size: 1rem;
    }

    main .game .game-content {
        width: 100%;
    }

    main .game .game-content p {
        width: 100%;
    }

    main .game .game-content p.fr-draggable {
        width: 100%;
        height: 450px;
    }

    main .profile {
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1.5rem;
        align-items: center;
    }

    main .profile aside .profile-img {
        height: auto;
        border: none;
        background-color: transparent;
    }

    main .profile aside .profile-img img {
        width: 220px;
    }

    main .profile .profile-description {
        margin-left: 0;
        text-align: center;
        max-width: 100%;    
    }

    main .profile .profile-description h2 {
        font-size: 2rem;
    }

    main .profile .profile-description h3 {
        font-size: 1rem;
    }

    main .profile .profile-description p {
        font-size: 1rem;
        margin-block: 10px 20px;
    }

    footer {
        padding: 20px 15px;
    }
}

/* Mobile: 480px */
@media (max-width: 480px) {
    header.navbar-container {
        justify-content: center;
    }

    main .content .content-image img { 
        height: 200px;
    }

    main .content .content-image .overlay-title h1 {
        font-size: 1.1rem;
    }

    main .profile aside .profile-img img {
        width: 180px;
    }

    main .profile .profile-description h2 {
        font-size: 1.7rem;
    }
}